
{% extends "base.html" %}

{% block title %}Confrom the payment {% endblock title %}

{% block pageheader %}
<h2 class="page-font">Confrom the payment</h2>
{% endblock pageheader %}

{% block content %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col-8">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    <strong></strong> {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
        <div class="card col-6">
            <div class="card-body text-secondary">
                <h6 class="card-title">Credit via Razorpay</h6><br>
                <form method="POST action= {% url 'add_to_wallet_razorpay' %}">
                    <div class="row mb-3">
                        <label for="amount" class="col-sm-2 col-form-label">Amount</label>
                        <div class="col-sm-10">
                            <input type="number" name="amount" class="form-control" id="amount" value="{{ amount }}" readonly>
                        </div>
                    </div>
                   
                    <button type="button" id="pay-btn" class="btn btn-primary">Pay Now</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var options = {
        "key": "{{ razorpay_merchant_key }}",
        "amount": "{{ razorpay_amount }}",
        "currency": "{{ currency }}",
        "order_id": "{{ razorpay_order_id }}",
        "callback_url": "{{ callback_url }}",
        "name": "{{ user.username }}"
    };

    // Initialize Razorpay with the options.
    var rzp1 = new Razorpay(options);

    // Add event listener to the payment button.
    document.getElementById("pay-btn").onclick = function (e) {
        rzp1.open();
        e.preventDefault();
    };
</script>
{% endblock content %}
