{% extends "base.html" %}

{% block title %}\V/ Kart - My Cart{% endblock title %}

{% block pageheader %}
  <h2>my coupons</h2>
{% endblock pageheader %}

{% block content %}
  {% load static %}
  
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="col-12">
          <div class="card" >
            <div class="card-body">
              <h5 class="card-title"> My coupons </h5><hr>
                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">Coupon code</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Discount price</th>
                        <th scope="col">Expire date</th>
                        <th scope="col">status</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for coupon, used in coupon_status %}
                      <tr>
                          <td>{{ coupon.coupon_code }}</td>
                          <td>{{ coupon.brand }}</td>
                          <td>{{ coupon.discount }}</td>
                          <td>{{ coupon.valid_to }}</td>
                          {% if used %}
                          <td class="text-danger">Used</td>
                          {% else %}
                          <td class="text-primary">Available</td>
                          {% endif %}
                      </tr>
                      {% endfor %}
                  </tbody>
                  
                  </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock content %}