{% extends "base.html" %}

{% block title %}\V/ Place_order{% endblock title %}

{% block pageheader %}
  <h2>Orders </h2>
{% endblock pageheader %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-8">
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            <strong></strong> {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
        {% comment %} confromed order  {% endcomment %}
        <div class="col-md-12">
          <h6 class="text-dark">Hi  {{order.delivery_address.first_name|title}} {{order.delivery_address.second_name|capfirst}}, your orders are:</h6>

          <div class="box">
            <table class="table table-hover fw-medium" style="border: 2px solid gray;">
              <thead>
                  <th scope="col-" class="fw-bolder" style="width: 10%;">Product</th>
                  <th scope="col-" class="fw-bolder" style="width: 10%;">Variant</th>
                  <th scope="col" class="fw-bolder" style="width: 10%;">Image</th>
                  <th scope="col" class="fw-bolder" style="width: 10%;">Quantity</th>
                  <th scope="col" class="fw-bolder" style="width: 10%;">Price</th>
                </tr>
              </thead>
              <tbody>
                {% for order_item in orderitems %}
                <tr>
                    <td>{{ order_item.product.product_name }}</td>
                    <td>{{ order_item.variant }}</td>
                    <td><img src="{{ order_item.product.product_images.url }}" alt="Product Image" style="width: 50px;"></td>
                    <td>{{ order_item.quantity }}</td>
                    <td>₹{{ order_item.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
            
            </table>
          </div>
          <br><hr>

          <div>
            <h5 class="text-success">Congratulations! Your order has been placed successfully. For more details, <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#orderModal">click here</button></h5>

          </div>
          <!-- Modal -->
          <div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="orderModalLabel">Order Details</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body invoice-container container m-3 p-2">
                  <p><strong>Buyer:</strong> {{ order.user.username }}</p>
                  <p><strong>Order ID:</strong> {{ order.order_id }}</p>
                  <p><strong>Date of Order:</strong> {{ order.order_date }}</p>
                  <p><strong>Payment Mode:</strong> {{ order.payment_method }}</p>
                  {% if order.payment_method == "Razorpay" %}
                  <p><strong>Payment Mode:</strong> {{ payment.payment_id}}</p>
                  <p><strong>Payment Mode:</strong> {{ payment.status }}</p>
                  {% endif %}{% for order_item in orderitems %}
                  <p><strong>Order items:</strong> {{ order_item.product.product_name }} with {{ order_item.ram }}RAM & {{ order_item.memmory }} ROM</p>
                  {% endfor %}
                  <p><strong>Sub_total:</strong> {{ sub_total }}</p>
                  <p><strong>Total Amount:</strong> {{ order.grand_total }}</p>
                  <p><strong>Status:</strong> {{ order.status }}</p>
                  <div class="modal-footer justify-content-between">
                    <p><a href="{% url 'download_invoice' order.id %}">Download</a></p>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
               
              </div>
            </div>
          </div>
          
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
<script>
  // Add an event listener to each download PDF button
  document.querySelectorAll(".pdfButton").forEach(button => {
      button.addEventListener("click", function () {
          const invoiceContainer = this.closest(".invoice-container"); // Find the closest invoice-container
          const pdfOptions = {
              filename: 'invoice.pdf',
              image: { type: 'jpeg', quality: 1.0 },
              html2canvas: { scale: 2 },
              jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
          };
          html2pdf().from(invoiceContainer).set(pdfOptions).save();
      });
  });
</script>
  {% endblock content %}
