
{% extends "base.html" %}

{% block title %}Order Details{% endblock title %}
{% block pageheader %}
<h2>My Orders</h2>
{% endblock pageheader %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8">
            {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                <strong></strong> {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
        <div class="card mb-5">
            <div class="card-body invoice-container p-3 m-2"> <!-- Move invoice-container class here -->
                <div class="mb-3">
                    <div class=' d-flex justify-content-between'>
                        <p class="card-text fw-medium">Order ID: {{ order.order_id }}</p>

                        {% if order.status == 'Cancelled' or order.status == 'Returned' %}
                                    <!-- Button trigger modal -->
                                    {% elif order.status == 'Delivered' %}
                                    <button type="button " class="btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal{{ order.id }}">
                                        Return
                                    </button>
                                    {% else %}
                                    <button type="button " class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal{{ order.id }}">
                                        Cancel
                                    </button>
                                    {% endif %}
                    </div>
                    <p class="card-text fw-medium">Address: {{ order.delivery_address.house_address }}, {{ order.delivery_address.city }},
                        {{ order.delivery_address.state }} {{ order.delivery_address.pin_code }}
                    </p>

                    <table class="table table-hover fw-medium rounded-3" style="border: 2px solid gray;">
                        <thead>
                            <th scope="col-" class="fw-bolder" style="width: 10%;">Product</th>
                            <th scope="col-" class="fw-bolder" style="width: 10%;">Variant</th>
                            <th scope="col" class="fw-bolder" style="width: 10%;">Image</th>
                            <th scope="col" class="fw-bolder" style="width: 10%;">Quantity</th>
                            <th scope="col" class="fw-bolder" style="width: 10%;">Payment Method</th>
                            <th scope="col" class="fw-bolder" style="width: 10%;">Price</th>
                            <th scope="col" class="fw-bolder" style="width: 10%;">Offer Price</th>
                            <th scope="col" class="fw-bolder" style="width: 10%;">Product Discount in %</th>
                            <th scope="col" class="fw-bolder" style="width: 10%;">Category Discount in %</th>
                            <th scope="col" class="fw-bolder" style="width: 10%;">Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for order_item in order_items %}
                          <tr>
                              <td>{{ order_item.product.product_name }}</td>
                              <td>{{ order_item.variant }}</td>
                              <td><img src="{{ order_item.product.product_images.url }}" alt="Product Image" style="width: 50px;"></td>
                              <td>{{ order_item.quantity }}</td>
                              <td>{{ order.payment_method }}</td>
                              <td>₹{{ order_item.price }}</td>
                              {% if order_item.offer_price ==  order_item.price %}
                              <td>N/A</td>
                              {% else %}
                              <td>₹{{ order_item.offer_price }}</td>
                              {% endif %}
                            
                              {% if  order_item.product_discount == 0 %}
                              <td>N/A</td>
                              {% else %}
                              <td>{{ order_item.product_discount }}% </td>
                              {% endif %}
                              {% if  order_item.category_discount == 0 %}
                              <td>N/A</td>
                              {% else %}
                              <td>{{ order_item.category_discount }}% </td>
                              {% endif %}
                              <td>{{ order.status }}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                      <td><a href="{% url 'download_invoice' order.id %}">Download</a></td>
                     
                      </table>
                        <p class="card-text fw-medium">Sub Total: {{ order.order_total }}</p>
                        {% if order.coupon_discount > 0 %}
                        <p class="card-text fw-medium">Coupon : {{ order.coupon_discount }}</p>
                        {% endif %}
                        {% if order.offer_discount > 0 %}
                        <p class="card-text fw-medium">Offer Discount Amount: {{ order.offer_discount }}</p>
                        {% endif %}
                        <p class="card-text fw-medium">Shipping Cost: {{ order.shipping }}</p>
                        <p class="card-text fw-medium">GST: {{ order.tax }}</p>
                        <p class="card-text fw-medium">Grand Total: {{ order.grand_total }}</p>
                        <p class="card-text fw-medium">Date of order: {{ order.order_date }} </p>
                </div>
            </div>
        </div>
         <!-- Modal -->
         <div class="modal fade" id="exampleModal{{ order.id }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ order.id }}" aria-hidden="true">
            <div class="modal-dialog">
                {% if order.status == 'Cancelled' or order.status == 'Returned'%}
                {% elif order.status == 'Delivered' %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel{{ order.id }}">Confirm Return</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Do you want to Return the order {{ order.order_id }}?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a href="{% url 'return_orders' orderid=order.id %}" class="btn btn-danger">Confrom</a>
                        </div>
                    </div>
                {% else %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel{{ order.id }}">Confirm Cancel</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Do you want to cancel the order {{ order.order_id }}?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a href="{% url 'delete_myorder' orderid=order.id %}" class="btn btn-danger">Confrom</a>
                        </div>
                    </div>
                
                {% endif %}
            </div>
        
        
        </div> 
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>

<script>
    // Add an event listener to each download PDF button
    document.querySelectorAll(".pdfButton").forEach(button => {
        button.addEventListener("click", function () {
            const invoiceContainer = this.closest(".invoice-container"); // Find the closest invoice-container
            const pdfOptions = {
                filename: 'invoice.pdf',
                image: { type: 'jpeg', quality: 1.0 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
            };
            html2pdf().from(invoiceContainer).set(pdfOptions).save();
        });
    });
</script>
{% endblock content %}


